.main {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    justify-content: center;
    gap: 142px;
    flex-shrink: 0;
    border-bottom: 1px solid rgba(232, 220, 200, 0.5);
    background: rgba(253, 248, 240, 0.9);
    border-radius: 30px;

    .headerContent {
      display: flex;
      align-items: center;
      gap: 16px;

      .wrapContent {
        display: flex;
        flex-direction: column;

        .chatName {
          color: #3a2a1e;
          font-family: "Inter", sans-serif;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
        }

        .status {
          display: flex;
          min-width: 65px;
          flex-shrink: 0;
          color: #c4a265;
          font-family: "Inter", sans-serif;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          color: green;
        }
      }

      .avatar {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 8px 12.297px 8px 12.281px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 50%;
        border: 2px solid #c4a265;
        background: #e8dcc8;
      }
    }
  }
}
