.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  max-height: 60px;
  padding: 20px;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #e8dcc8;
  background: #f5ede0;

  .input {
    border-radius: 30px;
    padding: 18px 10px;
    width: 100%;
    border-radius: 9999px;
    background: #f5ede0;
    &:focus {
      outline: none;
    }
  }

  .sendButton {
    cursor: pointer;
    flex-shrink: 0;
    display: block;
    margin-right: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  .message {
    color: var(--foreground);
    background: var(--background);

    .input {
      color: var(--foreground);
      background: var(--background);
    }

    img {
      filter: brightness(0) saturate(100%) invert(100%);
    }
  }
}
