.main {
  width: 100%;
  height: calc(100svh - 80px - 40px - env(safe-area-inset-bottom));
  padding-bottom: calc(80px + env(safe-area-inset-bottom));

  @media (min-width: 1440px) {
    max-width: 800px;
    margin: 0 auto;
  }
}
