.wrapper {
  margin-bottom: 10px;
  display: flex;
<<<<<<< Updated upstream
  justify-content: center;
=======
  justify-content: flex-start;
  position: relative;
>>>>>>> Stashed changes
  align-items: center;
  margin: 0 6px;
  min-height: 54px;
  padding: 10px;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #e8dcc8;
  background: #f5ede0;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.05),
    0 0 0 0 rgba(0, 0, 0, 0);
  margin-bottom: 16px;
}

.input {
  border-radius: 30px;
  background: #f5ede0;
  padding: 18px 10px;
  width: 100%;
}

.button {
  padding: 18px 16px;
  border-radius: 30px;
  border: 1px solid #e8dcc8;
  background: #f5ede0;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.05),
    0 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
}
