.wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  margin: 0 16px;
  min-height: 54px;
  padding: 10px;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #e8dcc8;
  // background: #f5ede0;
  color: var(--foreground);
  background: var(--background);
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.05),
    0 0 0 0 rgba(0, 0, 0, 0);
  margin-bottom: 16px;
}

.input {
  border-radius: 30px;
  color: var(--foreground);
  background: var(--background);
  padding: 18px 10px;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.sendButton {
  cursor: pointer;
  flex-shrink: 0;
  display: block;
  margin-right: 10px;
}

.button {
  padding: 18px 16px;
  border-radius: 30px;
  border: 1px solid #e8dcc8;
  background: #f5ede0;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.05),
    0 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .wrapper img {
    filter: brightness(0) saturate(100%) invert(100%);
  }
}
