:root {
  --background: #ffffff;
  --foreground: #2e2c2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2e2d2dc8;
    --foreground: #f1efef;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  color: var(--foreground);
  background: var(--background);
  border-radius: 30px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  margin: 30px auto 40px auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .container {
    box-shadow:
      0px -3px 20px 0px rgba(196, 162, 101, 0.4),
      0 10px 15px -3px rgba(196, 162, 101, 0.4),
      0 0 0 0 rgb(231, 231, 109),
      0 0 0 0 rgba(0, 0, 0, 0);
  }
}
