:root {
  --background: #ffffff;
  --foreground: #2e2c2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(232, 220, 200, 1);
    --foreground: #3A2A1E;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  background: #fdf8f0;
  border-radius: 30px;
  border: 4px solid black;
  margin-top: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
