.chatWindow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  height: calc(100% - 73px - 60px - 40px);
  overflow-x: scroll;
  width: 100%;
  min-height: 65vh;
  padding-bottom: 20px;
}

.empty {
  opacity: 0.8;
}
