.chatWindow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 100%;
  padding-bottom: 20px;
}

.empty {
  opacity: 0.8;
}
