.main {
  padding: 24px;
}

.chapter {
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 16px;

  border-bottom: 1px solid #c4a26580;
}

.headerChapterData {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;
  gap: 16px;
}

.headerIcon {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 6px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999px;
}

.bookTitle {
  color: var(--book-title-color);
  font-size: 30.6px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 25px;
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
}

.headerBookTitle {
  color: var(--book-title-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.headerChapterTitle {
  color: #c4a265;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.sectionChapter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
